<div class="bg-gray-900 p-3 rounded-md">
  <form [formGroup]="searchForm" (ngSubmit)="search()">
    <div class="relative">
      <img class="absolute right-4 top-2" alt="url-icon" [src]="favicon" *ngIf="favicon">
      <input formControlName="query"
             class="appearance-none block w-full bg-gray-800 rounded-md py-3 px-4 focus:outline-none placeholder-gray-300"
             type="text" placeholder="Type an url here or search on youtube"
             #queryElement (keyup)="setFavicon(queryElement.value)" (change)="setFavicon(queryElement.value)">
      <div class="flex flex-col text-center items-center"
           *ngIf="searchForm.invalid && (searchForm.dirty || searchForm.touched)">
        <div *ngIf="searchForm.controls.query.errors?.requestError" class="py-10">
          <fa-icon class="text-5xl text-yellow-500" [icon]="icon.exclamationCircle"></fa-icon>
          <p class="mt-2">Failed to start track. Are you in a voice channel and the bot can see you?</p>
        </div>
        <div *ngIf="searchForm.controls.query.errors?.custom" class="py-10">
          <fa-icon class="text-5xl text-yellow-500" [icon]="icon.exclamationCircle"></fa-icon>
          <p class="mt-2">{{ searchForm.controls.query.errors?.custom.message }}</p>
        </div>
      </div>
    </div>
  </form>
</div>
