.focus-in-contract {
  animation: focus-in-contract 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.blur-out-contract-bck {
  animation: blur-out-contract-bck 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes blur-out-contract-bck {
  0% {
    transform: translateZ(0);
    filter: blur(0.01);
  }
  100% {
    letter-spacing: -0.5em;
    transform: translateZ(-500px);
    filter: blur(12px) opacity(0%);
  }
}
