<div class="bg-gray-900 rounded-md p-3 scale-in-ver-top" *ngIf="lastEvent?.uri; else notPlayingContent">
  <img src="https://img.youtube.com/vi/{{ lastEvent?.identifier }}/mqdefault.jpg" alt="thumbnail"
       class="rounded-md w-full mx-auto h-24 object-cover mb-3 shadow-lg"
       *ngIf="isYoutube(lastEvent?.uri)">
  <div class="text-center font-medium mb-3 text-yellow-500">
    {{ lastEvent?.title }}
  </div>
  <div class="flex justify-center">
    <div class="text-xs pr-4">
      <fa-icon [icon]="icon.clock"></fa-icon>
      {{ lastEvent?.isStream ? 'Stream' : getDurationFromMilliseconds(lastEvent?.duration) }}
    </div>
    <div class="text-xs">
      <fa-icon [icon]="icon.user"></fa-icon>
      {{ lastEvent?.author }}
    </div>
  </div>
  <div class="mt-5">
    <div class="separator text-yellow-500">Queue</div>
    <div class="flex justify-between pt-1" *ngFor="let item of lastEvent?.queue">
      <a target="_blank" class="truncate overflow-clip text-sm" [href]="lastEvent?.uri">
        {{ item?.title }}
      </a>
      <div class="bg-gray-900 w-8 text-right">
        <fa-icon class="text-red-500 cursor-pointer" [icon]="icon.trash" (click)="removeFromQueue(item)"></fa-icon>
      </div>
    </div>
  </div>
</div>
<ng-template #notPlayingContent>
  <div class="bg-gray-900 py-6 text-center flex flex-col items-center rounded-md scale-in-ver-bottom py-9">
    <img class="h-24 w-24 rounded-full mb-4" alt="profile-picture" [src]="user.avatar">
    <p>Hello <b>{{ user.name }}</b> 👋</p>
    <p>Nothing is currently playing.</p>
  </div>
</ng-template>
