<div class="fixed bottom-0 inset-x-0 text-white focus-in-contract select-none">
  <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
    <input class="rounded-t-md overflow-hidden appearance-none bg-gray-500 w-full"
           type="range" min="1" max="100" step="1" value="0"/>
    <div class="bg-gray-900 rounded-t-md px-3 sm:px-6 lg:px-8 py-1 flex">
      <div class="w-20 flex gap-3 items-center h-10">
        <fa-icon class="cursor-pointer text-xl" [icon]="faPlay"></fa-icon>
        <fa-icon class="cursor-pointer" [icon]="faStepForward"></fa-icon>
      </div>
      <div class="flex items-center">
      </div>
    </div>
  </div>
</div>
