<div class="fixed bottom-0 inset-x-0 text-white focus-in-contract select-none hidden slide-out-bottom" #playerView>
  <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
    <div class="range">
      <input class="rounded-t-md bg-gray-500 w-full flex" type="range" min="1" disabled step="1"
             [max]="lastEvent?.duration"
             [value]="progress"/>
    </div>
    <div class="bg-gray-900 px-3 sm:px-6 lg:px-8 py-1 flex items-center justify-between">
      <div class="w-20 flex gap-3 items-center h-10">
        <fa-icon class="cursor-pointer text-xl"
                 (click)="onClickPlay()"
                 *ngIf="lastEvent?.isPaused"
                 [icon]="icon.play"></fa-icon>
        <fa-icon class="cursor-pointer text-xl"
                 (click)="onClickPause()"
                 *ngIf="!lastEvent?.isPaused"
                 [icon]="icon.pause"></fa-icon>

        <fa-icon class="cursor-pointer" (click)="onClickNext()" [icon]="icon.stepForward"></fa-icon>
      </div>
      <div class="flex flex-col items-center">
        <a target="_blank" [href]="lastEvent?.uri">
          <b>{{ lastEvent?.title }}</b>
        </a>
        <small>{{ lastEvent?.author }}</small>
      </div>
      <div class="flex items-center">
        <fa-icon class="pr-4" [icon]="icon.volumeDown"></fa-icon>
        <input class="rounded-md h-3" type="range" min="0" max="100" step="1"
               #volumeSlider
               [value]="lastEvent?.volume"
               (change)="onChangeVolume()">
      </div>
    </div>
  </div>
</div>
